* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    background-image: url('charity.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: azure;
    font-weight: 600;
  }
  
  nav li {
    display: inline-block;
    margin: 10px 23px;
  }
  
  nav li a {
    text-decoration: none;
    color: black;
  
  }
  
  nav li a:hover {
    border-bottom: 2px solid rgb(250, 129, 48);
    padding-bottom: 23px;
    color: rgb(250, 129, 48);
    ;
  }
  
  .main {
    width: 100%;
    height: 80%;
    display: block;
    color: rgb(12, 12, 12);
    background-image: url('charty.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 60%;
  }
  
  .content {
    width: 900px;
    margin-top: 0%;
    padding: 30px;
    margin-left: 10%;
    background-color: #bfbdbd9d;
    font-weight: 900;
    /* transition: width 2s linear; */
    
  }
  
  .content h1 {
    margin-bottom: 1%;
    margin-left: -0.4%;
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 2px 1px #e6dfdf;
  }
  
  .content h3 {
    margin-bottom: 1%;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(250, 129, 48);
    text-shadow: 2px 0 1px #342626;
  }
  
  .content p {
    margin-bottom: 1%;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    
}
  
  .content button {
    margin-top: 1%;
    margin-left: -0.1%;
    background-color: #cabbbb;
  }
  
  button {
    margin: 10px;
    padding: 15px 30px;
    font-size: medium;
    border-radius: 23px;
    border: 2px solid rgb(250, 129, 48);
    background-color: transparent;
  }
  
  button:hover {
    background-color: rgb(250, 129, 48);
    cursor: pointer;
  }
  span{
    color:rgb(1, 0, 0);
    letter-spacing: 1.4px;
    font-family:cursive;
  }
  .heading{
    letter-spacing: 1px;
    font-family:  sans-serif;
    color: rgb(250, 129, 48);;
  }
  
  
  